<h3>Add Tier</h3>

<form action="/users/<%= @user.id %>/tiers" method="post">
  <input placeholder="Tier Level" type="integer" name="number"><br>
  <input placeholder="Tier Name" type="text" name="title"><br>
  <input class="btn btn-default" type="submit" value="Add">
</form>
