<h1>Create a New Post!</h1>

<form method="post" action="/users/<%= @user.id%>/posts">
  <input placeholder="Post Content Here" name="post[content]" type="textbox">
  <br>
  <% @tiers.each do |tier|%>
    <input type="radio" name="post[tier]" value="<%= tier.number %>">  <%= tier.number %> : <%= tier.title%><br>
  <% end %>
  <input class="btn btn-default" type="submit" value="Create Post">
</form>
