<h1>Login</h1>

<form method="post" action="/users/login">
  <div class="input-group">
    <input placeholder="Enter Email" name="email" type="text">
    <br>
    <input placeholder="Enter Password" name="password" type="password">
    <br>
    <input type="submit" value="Sign In" class="btn btn-default">
  </div>
</form>
