<h1>Registration</h1>

<form method="post" action="/users/register">
  <input placeholder="Enter First Name" name="user[first_name]" type="text">
  <br>
  <input placeholder="Enter Last Name" name="user[last_name]" type="text">
  <br>
  <input placeholder="Enter Email" name="user[email]" type="text">
  <br>
  <input placeholder="Enter Password" name="user[password]" type="password">
  <br>
  <input type="submit" value="Create an Account">
</form>
