<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Rewind!</h1>
    <%if not session[:user_id] %>
      <a type="button" class="btn btn-default" href="/users/login">Login</a>
      <a type="button" class="btn btn-primary" href="/users/register">Register</a>
    <% end %>
  </div>
</div>
